.footer {
    color: #fff;
    text-align: center;
    background-color: #212121;

    .social-media {
        color : $text-white;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 16px;

        .social-media--link {
            padding: 0 8px;
        }

        .social-media--icon {
            color: $text-white;
            font-size: 24px;
            transition: color ease 0.5s;
            &:hover {
                color: $secundary;
            }
        }
    }

    .name {
        margin: 0;
        padding: 20px;
    }

    .developed {
        color : #ccc;
        margin: 0;
        opacity: .5;

        a {
            color : #ccc;
            text-decoration: underline;

        }
    }
}
