//Header's banner
.header-app {
    height: 80vh;
    min-height: 430px;
    max-height: 800px;
    &::after {
        background: url('../img/bg-pattern.png') repeat;
        content: "";
        display: block;
        height: 77%;
        left: 0;
        position: absolute;
        top: 10px;
        width: 100%;
    }
    .header-phone {
        position: relative;
        transform: translateY(50%) rotate(11deg);
        top: 70px;
        z-index: 2;
        @media screen and (min-width: 768px) and (orientation: landscape)  {
            transform: translateY(0%);
        }
        @media screen and (min-width: 1024px) {
            transform: translateY(0%) rotate(0);
            width: 140px;
        }
    }
    .header-banner {
        top: 56px;
        z-index: 2;
        @media screen and (min-width: 768px) and (orientation: landscape)  {
            padding: 0 100px;
            transform: translateY(0%);
        }
        @media screen and (min-width: 768px) and (orientation: portrait) {
            padding: 0 100px;
            transform: translateY(25%);
        }
        @media screen and (min-width: 1024px) {
            padding: 0px 50px;
        }
        @media screen and (min-width: 1200px) {
            padding: 30px 100px;
        }
        @media screen and (min-width: 1400px) {
            padding: 0 50px;
            transform: translateY(25%);
        }
        
    }
    .header-title {
        color: $text-white;
        margin: 8px 0;
        text-shadow: 1px 1px #424242;
        text-align: center;
        @media screen and (min-width: 768) {
            margin: 24px 0;
            text-align: left;
        }
        @media screen and (min-width: 1024px) {
            text-align: left;
        }
    }
    .header-subtitle {
        color: #fff;
        margin: 8px 0;
        padding: 8px 0;
        text-align: center;
        text-shadow: 1px 1px #424242;
        @media screen and (min-width: 768) {
            margin: 24px 0;
        }
        @media screen and (min-width: 1024px) {
            text-align: left;
        }
    }
    .header-description {
        color: $text-white;
        font-size: 1em;
        margin: 8px 0;
        padding: 16px 0;
        text-shadow: 1px 1px #424242;
        @media screen and (min-width: 768) {
            margin: 24px 0;
        }
        @media screen and (min-width: 1024px) {
            text-align: left;
        }
    }
    .btn-flat {
        display: block;
        margin: 8px auto;
        width: 50%;
        @media screen and (min-width: 768px) {
            margin: 24px 0;
            &:hover {
                background-color: $text-white;
                color : $primary;
            }
        }
        @media screen and (min-width: 1024px) {
            display: inline-block;
        }
    }
}

.header-home {
    background-color: #2980b9;
    background-image: -webkit-linear-gradient(-29deg, #233b88 0, #4CAF50 100%);
    border-width: 0 0 5px 0;
    border-style: solid;
    -webkit-border-image: -webkit-linear-gradient(-29deg, #4CAF50 0, #233b88 100%);
}

.header-hydro {
    background-image: url('../img/techydro/mobile-header.png');
    background-size: cover;
    @media screen and (min-width: 768px) {
        background-image: url('../img/techydro/tablet-header.png');
    }
    @media screen and (min-width: 1400px) {
        background-image: url('../img/techydro/desktop-header.png');
    }
}

.header-teclux {
    background-image: url('../img/teclux/mobile-header.png');
    background-size: cover;
    @media screen and (min-width: 768px) {
        background-image: url('../img/teclux/tablet-header.png');
    }
    @media screen and (min-width: 1400px) {
        background-image: url('../img/teclux/desktop-header.png');
    }
}

.header-tecgas {
    background-image: url('../img/tecgas/mobile-header.png');
    background-size: cover;
    @media screen and (min-width: 768px) {
        background-image: url('../img/tecgas/tablet-header.png');
        background-position: bottom;
    }
    @media screen and (min-width: 1400px) {
        background-image: url('../img/tecgas/desktop-header.png');
        background-position: bottom;
    }
}
