.how-works {
    background-color: $blue;
    padding: 24px 24px 0;
    .works-steps {
        padding: 8px 0 16px;

        &:not(:last-child):after {
            border-top: 2px solid rgba(238, 238, 238, 0.3);
            margin: 16px auto;
            width: 90%;
        }
    }
    &.techydro {
        //background-color: $primary;
    }
    .section-title {
        color : #f5f5f5;
    }
    .works-img {
        display: block;
        margin: auto;
        width: 80px;
        @media screen and (min-width: 768px) {
            float: right;
            margin-right: 48px;
            width: 130px;
        }
    }
    .works-title {
        color: #f5f5f5;
        margin: 0 0 16px;
    }

    .works-subtitle {
        color: #BDBDBD;
        margin: 16px 0 0;
    }

    .works-description {
        color : #f5f5f5;
        margin-bottom: 16px;
        word-wrap: break-word;
        @media screen and (min-width: 768px) {
            margin-bottom: 32px;
        }
    }
}