.navbar {
    background-color: $navbar;
    border: 0 solid transparent;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.navbar-default .navbar-toggle {
    border: transparent;
    &:hover {
        background-color: transparent;
        border: transparent;
    }
    .icon-bar {
        background-color: $primary;
    }
}

.navbar-default .navbar-nav>li>a {
    color: $text-white;
}

.header {
    background-color: #fff;
    border-top: 2px solid $primary;
    margin-bottom: 24px;
    z-index: 3;
    transition: all ease 0.5s;

    @media screen and (min-width: 768px) {
        background-color: transparent;
    }

    .navbar-brand {
        color: $primary;
        @media screen and (min-width: 768px) {
            color: #fff;
        }
    }

    &.active {
        border-bottom: 1px solid #FAFAFA;

        @media screen and (min-width: 768px) {
            background-color: #fff;
            height: 50px;

            li>a {
                color: $primary;
            }

            .navbar-brand {
                color: $primary;
            }

        }
    }
    .navbar-header {
        margin-top: 5px;
        @media screen and (min-width: 768px) {
            //height: 70px;
        }
    }
    .navbar-collapse {
        background-color: $navbar;
        width: 100%;
        border-color: transparent;
        box-shadow: 0px 2px 4px -2px black;
        position: absolute;
        @media screen and (min-width: 768px) {
            background-color: transparent;
            box-shadow: initial;
            position: relative;
        }
    }
}

.navbar {
    border-radius: 0;
}